footer {
    margin-top: 50px;
    max-width: 600px;
    width: 100%;
    height: auto;
}


.foot {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 70px;
    
}

.add {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    margin-left: -10px;

    margin-bottom: 30px;

}

.ele1 {
    width: 40%;
}

.ele1 > img {
    width: 100%;
    object-fit: cover;
}

.ele2 {
    width: 40%;
}


.ele2 > img {
    width: 100%;
    object-fit: cover;
}

.ele-txt {
    font-size:12px;
    color: gray;

    margin: 10px;
    margin-left: -2px;
}

.text {
    font-size: 12px;

    line-height: 1.5;
}




.all_of {
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.px {
    max-width: 600px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}