main {
    max-width: 600px;
    width: 100%;
    height: auto;

    margin-top: 50px;

}

.search {
    width: 90%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    
    
    

    border-radius: 9999px;
    border: 1px solid orange;

}

.txt2 {
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;

    color: gray;

   
}

.icon {
    width: 27px;
    height: 27px;
    border-radius: 9999px;

    margin-right: 20px;
    background-color: orange;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    font-size: 13px;
}

.contain {
    display: flex;
    width: 90%;

    margin: 10px auto;

}


.ad {
    width: 100%;
    height: auto;

    margin-top: 10px;

    border-radius: 30px;

    justify-content: center;
    align-items: center;


}

.ad > img {
    width: 100%;

    object-fit: cover;

    border-radius: 5px;
   

  
}



