main {
    max-width: 600px;
    width: 100%;
    height: auto;

    margin-top: 50px;

}

.search {
    width: 90%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin-left: 20px;
    

    border-radius: 9999px;
    border: 1px solid orange;

}

.txt2 {
    font-size: 10px;
    font-weight: 600;

    margin-left: 20px;
}

.icon {
    width: 27px;
    height: 27px;
    border-radius: 9999px;

    margin-right: 20px;
    background-color: orange;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    font-size: 13px;
}

.menu {
    width: 100%;
    height: auto;
    display: flex;
    margin-left: 60px;
    gap: 50px;

    margin-top: 20px;

   

}


.menu-contanier {
    width: 80px;
    height: 80px;
    border-radius: 5px;

    font-size: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.menu-contanier:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.img {
    width: 50%;
  

}

.img > img {
    width: 100%;
    object-fit: cover;
}