.sub__postlayout {
  width: 100vw;
  height: 200px;
  max-width: 600px;
  margin: 0 auto;

  background-image: url("	https://static.blog.gangnamunni.com/files/e8/e8e3eae8-168f-49ec-b869-9d767b8f385b.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.sub__post {
  margin: auto;
}
.sub__text {
  width: 100%;
  align-items: center;
}
