/* ========== footer ==========*/
.footer {
  padding: 30px;
  color: #555555;
  background-color: #f4f4f4;
  border-top: 4px solid #d8d8d8;
}
.footer__title {
  font-size: 14px;
  font-weight: 800;
  color: #777777;
}
.footer__company--title {
  margin-top: 20px;
}
.footer__company--list {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 10px;
}

.company__list1 {
  grid-area: 1 / 1 / 2 / 2;
}
.company__list2 {
  grid-area: 1 / 2 / 2 / 3;
}
.company__list3 {
  grid-area: 2 / 1 / 3 / 2;
}
.company__list4 {
  grid-area: 2 / 2 / 3 / 3;
}
.company__list5 {
  grid-area: 3 / 1 / 4 / 2;
}
.company__list6 {
  grid-area: 3 / 2 / 4 / 3;
}
.footer__company--title {
  padding-top: 10px;
}
.footer__normal {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.footer__help {
  padding-top: 30px;
  margin-bottom: 21px;
}
.footer__notice {
  margin: 24px 0px;
}
.footer__sns {
  margin: 9px 0px;
}
.footer__sns > i {
  color: #777777;
  font-size: 26px;
  padding-right: 8px;
}
